ul.social-network{
    list-style: none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}
.fa{
    font-size: 35pt;
    color: #001d3d;
    padding: 10px;
}
.fa-instagram:hover{
color: #9180d6;
}
.fa-linkedin-square:hover{
    color: #9180d6;
}
.fa-github-square:hover{
    color: #9180d6;
}
.page-footer{
background-color: #afb1ff;
}
.footer-copyright{
    background-color: #636e72;
}

.text-a{
    color: #001d3d;
}