#img-bg{
    background-image: url(https://i.imgur.com/iqfuhsg.jpg);

    min-height: 695px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn1{
    background-color: #6c5ce7;
}
.btn2{
    background-color: #d63031;
}
.textColor1{
    color: white;
}
