.color-r{
    background-color: #afb1ff;
}
.color-a{
    background-color: #001d3d;
}
.text-a{
    color: #001d3d;
}
.btn-roxo2{
    background-color: #6c5ce7;
}

.btn-vermelho{
    background-color: #f43744;
}