#img-bg{
    background-image:url(https://i.imgur.com/ijYPCkj.jpg);
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    background-color: #6c5ce7;
}
.textocinza{
    color: #636e72;
}
.textoverde{
    color: #00b894;
}