.color-r{
    background-color: #afb1ff;
}
.btn-roxo{
    background-color: #6c5ce7;
}
.btn-roxo2{
    background-color: #6c5ce7;
}
.btn-rosa{
    background-color: #fec3a6;
}
.btn-vermelho{
    background-color: #f43744;
}

.text-a{
    color: #001d3d;
}
.text-a2{
    color: #006d77
}
.text-ro{
    color: #6c5ce7;
}
.text-ver{
    color: #f43744;
}
.fs-54{
    font-size: 54pt;
}
.fs-18{
    font-size: 18pt;
}