.color-r{
    background-color: #fde4cf;
}
.btn-roxo{
    background-color: #a29bfe;
}
.btn-roxo2{
    background-color: #907ad6;
}
.btn-rosa{
    background-color: #fec3a6;
}
.btn-vermelho{
    background-color: #f45b69;
}

.text-a{
    color: #001d3d;
}
.text-a2{
    color: #006d77
}

.fs-54{
    font-size: 54pt;
}
.fs-18{
    font-size: 18pt;
}